<html style="background-color:#36393f; font-family: Verdana, Geneva, Tahoma, sans-serif;">

<head>
    <style>
        .header {
            background: #16191e;
            font-size: 40px;
        }

        .body {
            text-align: center;
            color: #ffffff;
        }

        .box {
            display: flex;
            justify-content: center;
        }

        .description {
            line-height: 40px;
            background-color: #54575e;
            border-radius: 20px;
            padding: 10px;
            width: auto;
        }
    </style>
</head>

<body>
    <div class="body">
        <div class="header">
            <h2>D2 Vendor Alert</h2>
        </div>
        <div class="box">
        <div class="description">
            <div>You have successfully authorized D2 Vendor Alert.</div>
            <div>You can safely close this webpage and expect a message in Discord after the next reset.</div>
            <div>Stay alert Guardian and good luck!</div>
        </div>
    </div>
    </div>
</body>

</html>