<html style="background-color:#36393f; font-family: Verdana, Geneva, Tahoma, sans-serif;">

<head>
    <style>
        .header {
            background: #16191e;
        }

        .header,
        .descriptionBox {
            text-align: center;
            color: #ffffff;
        }

        .descriptionBox {
            display: flex;
            justify-content: center;
        }

        .description {
            line-height: 40px;
            background-color: #54575e;
            border-radius: 20px;
            padding: 10px;
            width: auto;
        }
    </style>
</head>

<body>
    <h1 class="header">
        D2 Vendor Alert
    </h1>

    <section class="descriptionBox">
        <main class="description">
            <div>OOPS!</div>
            <div>There was a problem with your authorization code, try again</div>
        </main>
    </section>
</body>

</html>